<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/icon-circle.png" type="image/png">
    <link rel="icon" href="/static/images/icon-circle.png" sizes="32x32" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra_head %}

    <meta name="title" content="{{settings.siteName}}.in - Play Games, Earn Money & Rewards">
    <meta name="description"
        content="{{settings.siteName}}.in is a gaming platform offering exciting games like Ludo, Aviator, Cricket, and more. Play, compete, and earn real money and rewards. Join now for thrilling gaming experiences!">
    <meta name="keywords"
        content="{{settings.siteName}}, gaming site, earn money, rewards, play Ludo, Aviator game, Cricket games, online gaming platform, win real cash, gaming rewards, multiplayer games">
    <meta name="robots" content="index, follow">
    <meta name="author" content="{{settings.siteName}} Team">
    <title>{{settings.siteName}}.in - Play Games & Win Rewards</title>

    {% endblock extra_head %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .fade-in {
        opacity: 0;
        transform: translateY(4rem);
        transition: opacity 1s ease-out, transform 1s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }

    input:focus,
    button:focus {
        outline: none;
    }
</style>

<body class="bg-black" id="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div class="absolute inset-x-0 -top-40 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"
        style="z-index: -1;">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#32cd32] to-[#006400] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <nav class="bg-black shadow shadow-black w-100 px-8 md:px-auto fixed w-full mb-10">
        <div class="md:h-16 h-16 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
            <!-- Logo -->
            <div class="text-green-500 md:order-1">
                <!-- Heroicon - Chip Outline -->
                <a href="/">
                    <img class="w-18 h-14" src="{{settings.icon.url}}" alt="{{settings.siteName}}">
                </a>
            </div>
            <div class="text-gray-500 order-3 w-full md:w-auto md:order-2 hidden md:block">
                <ul class="flex font-semibold justify-between">
                    <!-- Active Link = text-green-500
                    Inactive Link = hover:text-green-500 -->
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="/">Home</a>
                    </li>
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/about' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="#">About</a>
                    </li>
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/services' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="#">Services</a>
                    </li>
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/blog' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="#">Blog</a>
                    </li>
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/contact' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="#">Contact</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="md:px-4 md:py-2 text-green-400">
                        <a href="/my-account">
                            <i class="material-icons">account_circle</i>
                        </a>
                    </li>
                    {% else %}
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/login/' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="/login/">Login</a>
                    </li>
                    <li
                        class="md:px-4 md:py-2 {% if request.get_full_path == '/register' %}text-green-500{% else %}hover:text-green-400{% endif %}">
                        <a href="#">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="order-2 md:order-3 block md:hidden">
                <button class="px-4 py-2 text-gray-50 rounded-xl flex items-center gap-2">
                    <i class="material-icons">menu</i>
                </button>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    {% if messages %}
    <div class="fixed bottom-4 right-4 space-y-4 z-50">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="bg-green-500 py-2 px-4 rounded-md text-white text-center flex gap-4 items-center">
            <p>{{ message }}</p>
            <span class="cursor-pointer font-bold" onclick="this.parentNode.remove()"><sup>X</sup></span>
        </div>
        {% elif message.tags == 'error' %}
        <div class="bg-red-500 py-2 px-4 rounded-md text-white text-center flex gap-4 items-center">
            <p>{{ message }}</p>
            <span class="cursor-pointer font-bold" onclick="this.parentNode.remove()"><sup>X</sup></span>
        </div>
        {% elif message.tags == 'warning' %}
        <div class="bg-yellow-500 py-2 px-4 rounded-md text-white text-center flex gap-4 items-center">
            <p>{{ message }}</p>
            <span class="cursor-pointer font-bold" onclick="this.parentNode.remove()"><sup>X</sup></span>
        </div>
        {% elif message.tags == 'info' %}
        <div class="bg-blue-500 py-2 px-4 rounded-md text-white text-center flex gap-4 items-center">
            <p>{{ message }}</p>
            <span class="cursor-pointer font-bold" onclick="this.parentNode.remove()"><sup>X</sup></span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}

    <!-- <footer class="bg-gray-900 mt-4" style="background-color: rgba(0, 0, 0, 0.29);">
        <div class="mx-auto w-full max-w-screen-xl">
            <h1 class="text-white text-4xl font-bold pt-12">{{settings.siteName}}</h1>
            <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
                <div>
                    <h2 class="mb-6 text-sm font-bold text-white uppercase text-white">Company</h2>
                    <ul class="text-white text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/about" class=" hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="/careers" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://startmarket.in" target="_blank" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="/indicator" target="_blank" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-bold text-white uppercase text-white">Help center</h2>
                    <ul class="text-white text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Youtube</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.instagram.com/trade.startmarket/" target="_blank"
                                class="hover:underline">Instagram</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.facebook.com/share/ZwodUDgrDpccya5g/?mibextid=qi2Omg" target="_blank"
                                class="hover:underline">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-bold text-white uppercase text-white">Legal</h2>
                    <ul class="text-white text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/privacypolicy" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                            <a href="/disclaimer" class="hover:underline">Disclaimer</a>
                        </li>
                        <li class="mb-4">
                            <a href="/refundpolicy" class="hover:underline">Refund Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-4 py-6 md:flex md:items-center md:justify-between">
                <span class="text-sm text-white text-gray-300 sm:text-center">© 2024 <a href="/">StartMarket</a>.
                    All
                    Rights Reserved.
                </span>
                <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                    <a href="https://www.facebook.com/share/ZwodUDgrDpccya5g/?mibextid=qi2Omg" target="_blank"
                        class="text-gray-400 hover:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-gray-400 hover:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 21 16">
                            <path
                                d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
                        </svg>
                        <span class="sr-only">Discord community</span>
                    </a>
                    <a href="#" class="text-gray-400 hover:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-gray-400 hover:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="#" class="text-gray-400 hover:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Dribbble account</span>
                    </a>
                </div>
            </div>
        </div>
    </footer> -->


    <script>
        // Burger menus
        document.addEventListener('DOMContentLoaded', function () {
            // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function () {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function () {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function () {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }
        });
        document.addEventListener("DOMContentLoaded", () => {
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('visible');
                        observer.unobserve(entry.target);
                    }
                });
            }, { threshold: 0.1 }); // Adjust threshold as needed

            document.querySelectorAll('.fade-in').forEach(element => {
                observer.observe(element);
            });
        });
    </script>

</body>

</html>